[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
notebook = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
nltk = "*"
yfinance = "*"
statsmodels = "*"
scipy = "*"
pandas-datareader = "*"

[dev-packages]

[requires]
python_version = "3.9"
